@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  src: url('./fonts/FredokaOne/FredokaOne-Regular.ttf');
}
@font-face {
  font-family: 'Slabo';
  font-style: normal;
  src: url('./fonts/Slabo/Slabo27px-Regular.ttf');
}